# Ignore Unix backup files
*~

# Ignore content folders
Content/

# Ignore DDC
/Engine/DerivedDataCache/**

# Ignore intermediate folders
Intermediate/
obj/

# Explcitly ignore Mac DS_Store files, regardless of where they are
.DS_Store

# Ignore VS / VS Code settings directory
.vs
.vscode

# Ignore CLion directory
.idea/

# Annoying windows files
[Dd]esktop.ini

